@font-face {
    font-family: "icon";
    src: url("../font/glyphicons-halflings-regular.woff2")
}

.content-wrapper {
    perspective: 800px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* height: 50px; */
    position: relative;
    top: 5px;
    text-shadow: #ffffffaa 1px 1px;
}

section.content {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
}

section.content .content-left,
section.content .content-right {
    /* background-color: #ffffff70; */
    /* box-shadow: #00000050 1px 1px 3px 1px; */
    box-sizing: border-box;
    border-radius: 5px;
    /* border: 1px solid #fff; */
}

section.content .content-left {
    width: calc(60% - 5px);
    margin: 5px 5px 5px 0;
}

section.content .content-right {
    width: calc(40% - 5px);
    margin: 5px 0px 5px 5px;
}

section.content .content-left .every-day {
    padding: 1vw;
    margin-bottom: 10px;
    background: #ffffffdd;
    border-radius: 5px;
}

section.content .content-left .every-day blockquote {
    margin: 8px 0;
}

section.content .content-left .every-day .text-right {
    width: 100%;
    display: inline-block;
    text-align: right;
}

section.content .content-left .every-day .text-right::before {
    content: "——";
}


section.content .content-left .every-day>p::after {
    font-family: icon;
    content: "\e122";
    margin-left: 5px;
}


section.content .content-left .article-list {
    background-color: #ffffffdd;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;

}

section.content .content-left .article-list .article-title {
    padding: 20px 0px 10px 10px;
    font-size: 22px;

}

section.content .content-left .article-list .article-title strong:hover {
    text-shadow: #f40 0 0 10px;
}

section.content .content-left .article-list .article-body {
    padding: 10px 5px;
}

section.content .content-left .article-list .article-foot {
    padding: 5px 5px;
    background-color: #000;
    border-radius: 5px;
    color: white;
    text-shadow: none;
}

section.content .content-left .page_tool {
    margin-top: 10px;
}

section.content .content-left .page_tool ul {}


section.content .content-left .page_tool ul li {
    background-color: #ffffffcc;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    min-width: 14px;
    text-align: center;
    margin-right: 10px;
    box-shadow: inset #ffffff 0px 0px 5px 5px;
}

section.content .content-left .page_tool ul li.now_page {
    font-weight: 800;

}


section.content .content-left .page_tool ul li:hover {
    background-color: #ffffff;
}

@media screen and (max-width:850px) {

    section.content {
        width: 95%;
    }

    section.content .content-left,
    section.content .content-right {
        width: 100%;
        margin: 5px 0;
    }
}