<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>李沅哲的技术博客</title>
    <!-- 样式初始化 -->
    <link rel="stylesheet" href="./css/commonCss/reset.css">
    <!-- 树叶飘落背景 -->
    <link rel="stylesheet" href="./css/commonCss/bg.css">
    <!-- header部分的样式 -->
    <link rel="stylesheet" href="./css/commonCss/header.css">
    <!-- 内容区域 -->
    <link rel="stylesheet" href="./css/blog_detail.css">
    <!-- 右侧公共部分 -->
    <link rel="stylesheet" href="./css/commonCss/tags-hots-recents-friends.css">
    <!-- 底部 -->
    <link rel="stylesheet" href="./css/commonCss/footer.css">
    <!-- VUE 2.6.10 -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>

    <!-- 树叶背景 -->
    <div id="leavedrop">
        <div class="set set1">
            <div class="leaves"><img src="./image/leaves/leave1.png" />
            </div>
            <div class="leaves"><img src="./image/leaves/leave2.png" />
            </div>
            <div class="leaves"><img src="./image/leaves/leave3.png" />
            </div>
            <div class="leaves"><img src="./image/leaves/leave4.png" />
            </div>
            <div class="leaves"><img src="./image/leaves/leave5.png" />
            </div>
            <div class="leaves"><img src="./image/leaves/leave1.png" />
            </div>
            <div class="leaves"><img src="./image/leaves/leave2.png" />
            </div>
            <div class="leaves"><img src="./image/leaves/leave3.png" />
            </div>
            <div class="leaves"><img src="./image/leaves/leave4.png" />
            </div>
            <div class="leaves"><img src="./image/leaves/leave5.png" />
            </div>

        </div>
        <div class="set set2">
            <div class="leaves upleaves"><img src="./image/leaves/leave1.png" />
            </div>
            <div class="leaves upleaves"><img src="./image/leaves/leave2.png" />
            </div>
            <div class="leaves upleaves"><img src="./image/leaves/leave3.png" />
            </div>
            <div class="leaves upleaves"><img src="./image/leaves/leave4.png" />
            </div>
            <div class="leaves upleaves"><img src="./image/leaves/leave5.png" />
            </div>
            <div class="leaves upleaves"><img src="./image/leaves/leave1.png" />
            </div>
            <div class="leaves upleaves"><img src="./image/leaves/leave2.png" />
            </div>
            <div class="leaves upleaves"><img src="./image/leaves/leave3.png" />
            </div>
            <div class="leaves upleaves"><img src="./image/leaves/leave4.png" />
            </div>
            <div class="leaves upleaves"><img src="./image/leaves/leave5.png" />
            </div>

        </div>
        <div class="set set3">
            <div class="leaves"><img src="./image/leaves/leave1.png" />
            </div>
            <div class="leaves"><img src="./image/leaves/leave2.png" />
            </div>
            <div class="leaves"><img src="./image/leaves/leave3.png" />
            </div>
            <div class="leaves"><img src="./image/leaves/leave4.png" />
            </div>
            <div class="leaves"><img src="./image/leaves/leave5.png" />
            </div>
            <div class="leaves"><img src="./image/leaves/leave1.png" />
            </div>
            <div class="leaves"><img src="./image/leaves/leave2.png" />
            </div>
            <div class="leaves"><img src="./image/leaves/leave3.png" />
            </div>
            <div class="leaves"><img src="./image/leaves/leave4.png" />
            </div>
            <div class="leaves"><img src="./image/leaves/leave5.png" />
            </div>
        </div>
    </div>

    <!-- 头部区域 -->
    <header>
        <div class="container-wrapper">
            <div class="container">
                <div class="logo animated">
                    <p>
                        李沅哲的技术博客
                    </p>
                </div>
                <div class="content">
                    <ul>
                        <li class="animated"><a href="/index.html">首页</a></li>
                        <li class="animated"><a href="/sitemap.html">地图</a></li>
                        <li class="animated"><a href="/about.html">关于</a></li>
                        <li class="animated"><a href="/guestbook.html">留言</a></li>
                    </ul>
                </div>
                <div class="search">
                    <input type="text" placeholder="输入关键词">
                    <input type="button" value="搜索🔍">
                </div>
            </div>
        </div>

    </header>

    <!-- 内容区域 -->
    <div class="content-wrapper">
        <section class="content">
            <!-- 左侧内容区域 -->
            <div class="content-left">
                <div class="blog-detail" id="blog-detail">
                    <div class="blog-title">
                        <h1>
                            {{title}}
                        </h1>
                    </div>
                    <div class="blog-msg">
                        <span>
                            作者: 李沅哲 &nbsp;
                        </span>
                        <br>
                        <span>
                            标签： {{tags}} &nbsp;
                        </span>
                        <br>
                        <span>
                            发布于： {{ctime}} &nbsp;
                        </span>
                        <br>
                        <span>
                            浏览： {{views}}
                        </span>

                    </div>
                    <div class="blog-content" v-html="content">

                    </div>
                </div>

                <div class="comments-list">
                    <h3>关于：目前有{{total}}条留言</h3>
                    <div class="comments">
                        <div class="comment-user">
                            <img class=" user-avatar" width="50" src="./image/115.png" />
                            <strong>许寒</strong>
                            <span class="publish-date">发表于 2019年02月13日 20:49</span>
                            <span class="response">[回复]</span>
                        </div>
                        <div class="comment-content">
                            这个是第一条评论
                        </div>
                        <div class="response">
                            <!--  回复放在这里 -->
                            <div class="comments">
                                <div class="comment-user">
                                    <img class=" user-avatar" width="50" src="./image/115.png" />
                                    <strong>许寒</strong>
                                    <span class="publish-date">发表于 2019年02月13日 20:49</span>
                                    <span class="response">[回复]</span>
                                </div>
                                <div class="comment-content">
                                    这个是第一条评论
                                </div>
                                <div class="response">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="send-comments">
                    <h1>发表评论</h1>
                    <div>
                        <input type="hidden" ref="reply" id="reply" class="comment-reply" value="-1">
                        <input type="text" ref="nickname" placeholder="您的昵称" class="comment-contact comment-nickname">
                        <input type="text" ref="email" placeholder="您的邮箱(评论时会回复邮箱通知)"
                            class="comment-contact comment-email">
                    </div>
                    <div>
                        <textarea name="" ref="replycontent" placeholder="无意义的内容我可能不会回复你" class="comment-content"
                            cols="30" rows="10"></textarea>
                    </div>
                    <div>
                        <input type="text" @input="input" v-model="inputCode"
                            :style="{boxShadow:canSubmit? 'green 1px 1px 4px 0px':'red 1px 1px 4px 0px', transition:'all 0.3s'}"
                            placeholder="验证码不区分大小写">
                        <span @click="changeCaptcha" v-html="imgCode" style="position: relative; top:10px;">

                        </span>
                    </div>
                    <button @click="sendComment()"
                        :style="{width: canSubmit? '200px' :'240px',boxShadow:canSubmit? 'green 1px 1px 4px 0px':'red 1px 1px 4px 0px'}"
                        :disabled="canSubmit? false:true">{{canSubmit? '可以提交':'验证码未输入或输入不正确'}}</button>
                </div>
            </div>
            <!-- 右侧内容区域 -->
            <div class="content-right">

                <div id="music-player">
                    <div id="image">
                        <div class="image" :style="{backgroundImage: 'url(' + musicList[currentMusic]['image'] + ')'}">
                        </div>
                        <div class="image-small"
                            :style="{transform:'rotate('+ deg +'deg)',backgroundImage: 'url(' + musicList[currentMusic]['image'] + ')'}">
                        </div>

                    </div>
                    <div id="player">
                        <div id="songTitle">{{musicList[currentMusic]['song']}}</div>
                        <div id="buttons">
                            <button id="pre" @click="change('pre')"><img src="./image/Pre.png" height="90%"
                                    width="90%" /></button>
                            <button id="play" @click="play"><img
                                    :src="playing ? './image/Pause.png':'./image/Play.png'" /></button>
                            <button id="next" @click="change('next')"><img src="./image/Next.png" height="90%"
                                    width="90%" /></button>
                        </div>

                        <div @click="setBar" id="seek-bar">
                            <div id="fill"></div>
                            <div id="handle" :style="{left:percentage}"></div>
                        </div>
                    </div>
                </div>

                <div id="random-tags" class="random-tags">
                    <p>随机标签云</p>
                    <div class="tag-container">
                        <a class="animated"
                            v-bind:style="{color:randomColor(),transform:'perspective(400px) rotateZ('+ (Math.random()*25 -25) +'deg) rotateY('+ (Math.random()*80 - 40) +'deg)',margin:'10px 10px', fontSize:randomSize()}"
                            v-for="(v,k) in tags" href="">{{v}}</a>
                    </div>
                </div>

                <div id="hot-articles" class="hot-articles ">
                    <p>热门文章</p>
                    <ul class="hot-articles-container">
                        <li v-for="(v,k) in titleList"><a :href="v.link">{{v.title}}</a>
                        </li>

                    </ul>
                </div>

                <div id="recent-comments" class="recent-comments">
                    <p>最近评论</p>
                    <div v-for="(v,k) in commentsList" class="comment-item">
                        <div class="comment-info">
                            <span>{{v.name}}</span>
                            <span>[{{v.date}}]</span>
                        </div>
                        <div class="comment-content">
                            <p>{{v.comment}}</p>
                        </div>
                    </div>


                </div>
                <div class="friend-links">
                    <p>友情链接</p>
                    <ul>
                        <li><a href="">新浪网</a></li>
                        <li><a href="">爱奇艺</a></li>
                        <li><a href="">微医集团</a></li>
                        <li><a href="">领英</a></li>
                        <li><a href="">珍爱网</a></li>
                        <li><a href="">优酷</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <!-- 页脚部分 -->
    <footer>
        <span>李沅哲 ： 一名有理想的前端开发 &copy; 2019</span>
        <ul class="list-inline">
            <li class="cat-item cat-item-283"><a href="https://www.zh30.com/category/shareexp">分享经验</a></li>
            <li class="cat-item cat-item-63"><a
                    href="https://www.zh30.com/category/%e5%90%ac%e5%90%ac%e9%9f%b3%e4%b9%90">听听音乐</a>
            </li>
            <li class="cat-item cat-item-7"><a href="https://www.zh30.com/category/funny" title="程序员的笑话,IT笑话幽默">幽默搞笑</a>
            </li>
            <li class="cat-item cat-item-244"><a
                    href="https://www.zh30.com/category/%e5%bb%ba%e7%ab%99%e7%bb%8f%e9%aa%8c"
                    title="网站建设经验,网站建设中的问题解决方法,郑晓分享的一些建站经验">建站经验</a></li>
            <li class="cat-item cat-item-233"><a
                    href="https://www.zh30.com/category/%e6%96%b0%e9%97%bb%e8%b5%84%e8%ae%af">新闻资讯</a>
            </li>
            <li class="cat-item cat-item-4"><a href="https://www.zh30.com/category/fsgame"
                    title="模拟飞行-微软模拟飞行游戏-分享技巧、经验、心得">模拟飞行</a></li>
            <li class="cat-item cat-item-6"><a href="https://www.zh30.com/category/casual" title="自己随便写的..">片言碎语</a>
            </li>
            <li class="cat-item cat-item-3"><a href="https://www.zh30.com/category/pphone" title="玩转手机-玩机技巧">玩转手机</a>
            </li>
            <li class="cat-item cat-item-173"><a href="https://www.zh30.com/category/biancheng" title="编程学习">编程基础</a>
            </li>
            <li class="cat-item cat-item-8"><a href="https://www.zh30.com/category/videos" title="精彩视频分享">视频分享</a></li>
        </ul>
    </footer>

    <!-- <script src="https://cdn.bootcss.com/axios/0.18.0/axios.js"></script> -->
    <script src="./js/blog_detail.js"></script>
    <script src="./js/base.js"></script>
</body>

</html>