/*
右侧部分
*/

/**/
#music-player {
    width: 100%;
    /* background-color: #ffffffdd; */
    border-radius: 15px;
    position: relative;

    z-index: 10;
    margin: 5px 0 10px;


}

#image .image {
    height: 280px;
    width: 100%;
    background-color: #ffffff00;
    margin-top: -5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: #ffffff88 0px 0px 5px 1px;
    position: absolute;
    background-size: cover;
    background-position: center center;
    filter: blur(3px);
    opacity: 0.7;
    /* background-image: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557147487355&di=153507d1842c7d6119ae9e5b846c71f6&imgtype=0&src=http%3A%2F%2F5b0988e595225.cdn.sohucs.com%2Fimages%2F20171126%2Fb4b871c6ff4749a0a4cac099de1e33cd.jpeg') */
}


#image .image-small {
    width: 180px;
    height: 180px;
    box-shadow: #000000bb 0 0 0 40px;
    position: relative;
    top: 50px;
    z-index: 0;
    border-radius: 50%;
    margin: 0 auto;
    background-size: cover;
    background-position: center center;
    margin-bottom: 100px;
}


#player {
    padding: 25px;
    color: #333;
    background-color: #ffffffdd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: #ffffffdd 0px -5px 2px 0px;
}

#songTitle {
    width: 300px;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#buttons {
    height: 50px;
    width: 100%;
    margin-top: 50px;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#play,
#next,
#pre {
    width: 50px;
    height: 50px;
    border: 0;
    background-color: royalblue;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#next {
    width: 30px;
    height: 30px;
    left: 70%;
}

#pre {
    width: 30px;
    height: 30px;
    left: 30%;
}

#play img,
#next img,
#pre img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#seek-bar {
    width: 75%;
    height: 5px;
    background-color: gray;
    display: flex;
    border-radius: 50px;
    margin-left: 10%;
    cursor: pointer;
    position: relative;
}


#fill {
    height: 5px;
    background-color: royalblue;
    border-radius: 20px;

}

#handle {
    width: 4px;
    height: 4px;
    background-color: royalblue;
    border-radius: 50%;
    /* margin-left: px; */
    transform: scale(2);
    position: absolute;

}

/*随机标签*/
section.content .content-right .random-tags {
    width: 100%;
    /* min-height: 100px; */
    background-color: #ffffffdd;
    border-radius: 5px;
    margin-bottom: 10px;

}

section.content .content-right .random-tags p {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    padding: 0 10px;
}

section.content .content-right .random-tags .tag-container {
    perspective: 500px;
    width: 100%;
    /* min-height: 150px; */
    line-height: 15px;
    font-size: 16px;
    padding: 30px 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

/*热门文章*/
section.content .content-right .hot-articles {
    width: 100%;
    background-color: #ffffffdd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-bottom: 10px;

}

section.content .content-right .hot-articles>p {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    padding: 0 10px;
}


section.content .content-right .hot-articles ul li {
    width: 100%;
    min-height: 24px;
    line-height: 24px;
    font-size: 16px;
    padding: 5px 10px;
}

/*
最近评论
*/
section.content .content-right .recent-comments {
    width: 100%;
    /* min-height: 100px; */
    background-color: #ffffffdd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 0px 10px 5px;
    box-sizing: border-box;

}

section.content .content-right .recent-comments>p {
    width: 100%;
    min-height: 50px;
    line-height: 50px;
    font-size: 24px;

}

section.content .content-right .recent-comments .comment-item {
    margin: 0 0 15px;
}

section.content .content-right .recent-comments .comment-item .comment-info {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

section.content .content-right .recent-comments .comment-item .comment-info span {
    font-size: 18px;
}

section.content .content-right .recent-comments .comment-item .comment-content {
    margin: 7px 0;
    font-size: 16px;
}


/*友情链接*/


section.content .content-right .friend-links {
    width: 100%;
    /* min-height: 100px; */
    background-color: #ffffffdd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 0px 10px 5px;
    box-sizing: border-box;

}

section.content .content-right .friend-links>p {
    width: 100%;
    min-height: 50px;
    line-height: 50px;
    font-size: 24px;
}

section.content .content-right .friend-links ul {
    display: flex;
    flex-wrap: wrap;
}

section.content .content-right .friend-links ul li {
    min-width: 50%;
    margin: 10px 0;
}

/*
动画
*/
/* .tag-container a:hover {
    -webkit-animation-name: jello;
    animation-name: jello;
} */


.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes jello {

    from,
    11.1%,
    to {
        -webkit-transform: none;
        transform: none;
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }

    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }

    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}